.header-body {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 100;
    .acc-navbar {
        .navbar-brand { 
            .navbar-logo { width: 200px;}
        }

        .navbar-right {
            justify-content: flex-end;
            padding: 0px 30px;

            .navbar-nav {
                .nav-item {
                    .nav-link {
                        cursor: pointer;
                        color: rgba(255,255,255,1);
                        transition: 0.5s all ease;
                        &:hover { text-decoration: underline; }
                    }
                }
            }
        }

        @media @mobile-device {
            .navbar-toggler {
                .background(background,0.3); 
                border-radius: 5px;              
                .navbar-toggler-icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

            .navbar-collapse {                
                .background(background, 0.95);
                border-radius: 5px;
                text-align: center;
                .nav-item {
                    .nav-link { color: rgba(0,0,0,1) !important; font-size: 1.3rem; }
                }
            }
        }
    }
}

.navbar-logo { width: 50px;}
